.sendMail {
    position: absolute;
    bottom: 0px;
    right: 50px;
    background-color: white;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.sendMail__header {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.sendMail__header > h3 {
    font-size: 15px;
    color: black;
}   

.sendMail__sendButton {
    background-color: #1a73e8 !important;
    color: white;
    text-transform: uppercase !important;
    margin: 15px !important;
}



.sendMail__close {
    cursor: pointer;

}

.sendMail__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

/*.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    
}*/

.sendMail input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.sendMail__message {
    flex: 1;
    resize: none;
    margin-bottom: 0px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    min-height: 100px;
    box-sizing: border-box;
     width: 100%;
}

.sendMail__subject {
    flex: 1;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

.sendMail__to {
    flex: 1;
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

.sendMail__error {
    color: red;
    background-color: white;
    text-align: right;
    padding: 2px;
    min-height: 10px; /* or whatever height fits your design */
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.sendMail__options {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 10000000px 0; /* top right bottom left */
  background: transparent; /* keep it part of the box */
}

